<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="abc.bbs.bbs.mapper.BbsMapper">
	
<resultMap type="bbs" id="bbs">
	<id property="id" column="id1"/>
	<result property="title" column="title"/>
	<result property="summary" column="summary"/>
	<result property="createdat" column="createdAt"/>
	<result property="authorid" column="authorId"/>
	<result property="content" column="content"/>
	<result property="commentCount" column="commentCount" />
	<result property="categoryid" column="categoryId" />
	
	<association property="user" javaType="user">
	<id property="id" column="id"/>
	<result property="username" column="username" />
	<result property="age" column="age" />
	<result property="signature" column="signature" />
	<result property="photo" column="photo" />
	
	</association>
	<association property="category" javaType="category">
	<id property="id" column="cid"/>
	<result property="name" column="name"/>
	</association>
	</resultMap>

	<select id="selectAllBbs" resultMap="bbs">
	select 
	bbs.id id1,bbs.title,bbs.summary,bbs.createdAt,bbs.authorId,bbs.commentCount,
	u.id,u.username,u.signature,u.photo,
	c.id cid,c.name
	from
	bbs,`user` u,category c
	where
	bbs.authorId = u.id and
	bbs.categoryId = c.id
	order by createdAt desc
	</select>

	<select id="selectBbsById" parameterType="integer" resultMap="bbs">
	
	select bbs.id id1,bbs.title,bbs.createdAt,bbs.authorId,bbs.createdAt,bbs.content,bbs.commentCount,bbs.categoryId,
	u.id,u.username,u.photo
	from
	bbs,`user` u
	where
	bbs.id = #{id} and bbs.authorId = u.id
	</select>
	
	<select id="insertComment" parameterType="comment">
	insert into comment(date,bbsId,userId,content,username) values(#{date},#{bbsid},#{userid},#{content},#{username})
	</select>
	
	<select id="selectCommentBybid" parameterType="integer" resultType="comment">
	<!-- select * from comment where bbsid = #{id} order by date desc-->	
	select c.*, u.photo photo
	from comment c ,`user` u where c.bbsid = #{id} 
	and u.id=c.userid
	order by date desc
	</select>
	
	<update id="addCommentCount" parameterType="integer">
	update bbs set
	commentCount = commentCount +1 where id=#{id}
	</update>
	
	<delete id="delectCommentByCid" parameterType="integer">
		delete from comment where id = #{id}
	</delete>
	
	<update id="reduceCommentCount" parameterType="integer">
	update bbs set
	commentCount = commentCount -1 where id=#{id}
	</update>
	
	<select id="selectBbsByCid" parameterType="integer" resultMap="bbs">
	select bbs.id id1,bbs.title,bbs.summary,bbs.createdAt,bbs.authorId,bbs.commentCount,
	u.id,u.username,u.photo,u.signature,
	c.id cid,c.name
	from
	bbs,`user` u,category c
	where
	bbs.authorId = u.id and
	bbs.categoryId = c.id
	and categoryId=#{cid} order by createdAt desc
	</select>
	
	<insert id="saveBbs" parameterType="bbs">
	insert into bbs(createdAt,authorId,categoryId,content,title,summary) 
	values(#{createdat},#{authorid},#{categoryid},#{content},#{title},#{summary})
	</insert>
	
	<!-- <delete id="deleteCommentByBid" parameterType="integer">
		delete from comment
		where
		bbsId=#{id}
	</delete> -->
	
	<delete id="deleteBbsByid" parameterType="integer">
		delete from bbs
		where
		id=#{id}
	</delete>
	
	<select id="selectCountByUid" parameterType="integer" resultType="integer">
	select count(1)  from bbs where authorId=#{id}
	</select>
	
	<select id="selectBbsByUid" parameterType="integer" resultType="bbs">
	select bbs.id,title,createdAt
	from bbs
	where authorId=#{id} order by createdAt desc
	</select>
	
	<select id="selectBbsByQueryVo" parameterType="BbsQueryVo" resultType="bbs">
	select id,title,authorId,categoryId,createdAt from bbs 
	<where>
	
	<if test="bbs.category.name !=null and bbs.category.name!='' ">
	and categoryId = (select id from category where name=#{bbs.category.name}) 
	</if>
	
	<if test="bbs.user.username !=null and bbs.user.username!=''">
	and authorId = (select id from user where username=#{bbs.user.username})
	</if>
	<if test="bbs.title !=null and bbs.title != ''">
		 and title like '%${bbs.title}%'
	</if>

	</where> 
	limit #{startRow},#{size}
	</select>
	
	<select id="selectTotalCount" parameterType="BbsQueryVo" resultType="Integer">
	select count(1) from bbs 
	<where>
	
	<if test="bbs.category.name !=null and bbs.category.name!='' ">
	and categoryId = (select id from category where name=#{bbs.category.name}) 
	</if>
	
	<if test="bbs.user.username !=null and bbs.user.username!=''">
	and authorId = (select id from user where username=#{bbs.user.username})
	</if>
	<if test="bbs.title !=null and bbs.title != ''">
		 and title like '%${bbs.title}%'
	</if>

	</where> 
	</select>
	<select id="adminGetAllBbs" resultType="Bbs">
		select * from bbs
	</select>
</mapper>
